* {
    padding: 0;
    margin: 0;
  }
header{
    background-color: rgb(236, 140, 37);
    position: sticky;
    top: 0;
    height:6vh;
    width: 100%;
}
@media(min-width:500px){
    .box{
        display: none;
    }
}
.dropdown{
    position: relative;
    display: inline-block;
    color: white;
    font-size: 3vh;
    left: 2%;
    line-height: 6vh;
   }
h1{
    color: white;
    position: absolute;
    font-size: 3vh;
    line-height: 6vh;
    padding: 0 0 0 10%;
    cursor: pointer;
    white-space: nowrap;
}
.ul{
    list-style-type: none;
    line-height: 6vh;
    word-break: break-all;
    padding-right: 7%;
}
.ul li{
    float:right;
    display: inline;
    padding-left:5%;
    font-size: 1.5vw;
}
@media(max-width:500px){
    .ul{
        display: none;
    }
}
header a{
    color:rgb(247, 241, 216);
    text-decoration: none;
}
@media (max-width: 500px) {
    h1 {
      left: 50%;
      padding: 0%;
      transform: translateX(-50%);
    }
}
.box1{
    background-color: rgb(76, 66, 38);
    height:100vh;
    color: white;
    white-space: nowrap;
}
h2{
    font-size: 6vw;
    text-align: center;
}
.box2{
    display: block;
    top:50%;
    left: 50%;
    font-size: 1.7vw;
    position: absolute;
    transform: translate(-50%,-50%);
}
.box3{
    width: 50%;
    margin: 2% 0 3% 0;
    padding: 0 10%;
}
@media (max-width: 500px) {
    .box3 {
    position: relative;
    width: 90%;
    padding: 0 0 0 10%;
    }
}
.box4{
    position: absolute;
    left: 50%;
    transform: translateX(-80%);
    color:white;
    border-radius: 0.5vw;
    padding: 0.5vw;
    border:0.2vw solid white;
    font-size: 1.5vw;
}
.footer{
    background-color: black;
    height: 6vw;
}
.footer p{
    font-size: 1.5vw;
    position: absolute;
    color: white;
    left:50%;
    opacity: 0.5;
    height: 5vw;
    white-space: nowrap;
    transform:translate(-50%,40%);
}

