p{
    padding: 8px;
}
input{
    margin-left: 20px;
}
.name{
    padding: 10px;
}
select{
    margin-left: 20px;
    padding:5px 10px;
    background-color: #e8e5e5e6;
    border-radius: 5px;
}
.submit{
    position: relative;
    font-size: larger;
    font-weight: bold;
    left: 35px;
    padding:7px 30px;
    color: white;
    letter-spacing: 5px;
    background-color: rgb(245, 120, 227);
    border: 1px transparent;
}
